# Logs y archivos temporales
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorio node_modules
node_modules/

envsecure/

# Archivos de configuración
config.js
config.local.js

# Archivos generados por IDEs
.vscode/
.idea/

uploads/
# Archivos de respaldo
*.bak

# Archivos de caché
*.cache

# Archivos de compilación (si estás usando algún sistema de compilación)
dist/
build/

# Dependencias de desarrollo
devDependencies/

# Dependencias específicas de sistema (si es necesario)
.npmrc

# Archivo de entorno local
.env.local

.env

# Archivos de entorno de desarrollo (asegúrate de no incluir secretos)
.env.dev

# Archivos de entorno de producción (asegúrate de no incluir secretos)
.env.prod

# Archivos de registro (si estás utilizando herramientas de registro)
logs/
*.log

# Archivos de respaldo
*.bak

# Archivos de caché
*.cache

# Dependencias de desarrollo
devDependencies/

# Dependencias específicas de sistema (si es necesario)
.npmrc

# Dependencias Yarn
.yarn/
.yarnrc
.yarn-integrity

# Herramienta de generación de documentación
doc/
